//Main Navigation Styles

.site-branding {

    display: none;
}

@media screen and (max-width: 47.9375em)  {

   .menu-toggle {

     padding: 2.5% 0 2.5% 0;
   }

}

.main-navigation {

border: 0px;
line-height: 2;

  div {

    ul {

      background: $purple;
      border-top: 0px;
      text-align: center;

    }

    li {

      border-bottom: 0px;
    }

  }

    a   {

    padding-top: .4em;
    border: 0px;

    }
}
.navigation-top {

  background-color: #222045;
  border-bottom: 0px;
  border-top: 0px;

  a {

    color: white;
    font-family: $regFont;
    font-size: 0.85em;
    border: 0;
  }

  a:nth-child(1) {

    img {

        height: 40px;
        opacity: 1;

      }

}

  a:nth-child(1):hover, a:nth-child(1):active{

        img {

            opacity: 0.8;

          }
    }



}


.menu-toggle {

  color: white;
  margin: 0px auto 0px;
  line-height: 1;

}


.menu-toggle:focus {

  outline: none;
}

.menu-toggle:hover {

  outline: none;
}

//Navigation Media Queries

//Currently not working, but for navigation

@media screen and (min-width: 768em) {

  .navigation-top {

    a:nth-child(1) {

      img {

        height: 50px;
        margin-right: 10px;
        margin-bottom: -6px;

      }
    }
  }


}
